body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}



/* ---- global ---- */
:root {
    --padding-space: 10%;
    --padding-space-mobile: 5%;
    /* colors */
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}
.img-button {
    background: none;
    border: none;
}
button:hover {
    cursor: pointer;
}
.heading {
    margin: 0;
}
.heading-medium {
    font-size: 2.5em;
    font-weight: 300;
}
.main-button {
    background: none;
    border: none;
    padding: 0;
}



/* ---- header ---- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    padding: 45px var(--padding-space);
    background-color: white;
}
#flex-nav-links-container {
    display: flex;
    align-items: center;
}
.header-nav-link {
    margin-right: 25px;
    color: grey;
}
.header-nav-link:last-child {
    margin-right: 0;
}


/* ---- banner ---- */
#banner-container {
    background-color: var(--very-light-gray);
    height: 80vh;
    box-sizing: border-box;
}
#banner-img {
    position: absolute;
    top: -15px;
    right: -130px;
}
#banner-left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: 450px;
    margin-left: var(--padding-space);
}


/* ---- col 4 ---- */
.col-4-container {
    padding: 0 var(--padding-space)
}
.col-4-heading-container {
    max-width: 700px;
}
.col-4-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
}
.col-4-item {
    margin-right: 20px;
}
.col-4-item:last-child {
    margin-right: 0;
}


/* ---- why choose easy bank ---- */
#why-choose-easy-bank-container {
    background-color: var(--light-grayish-blue);
    padding-top: 120px;
    padding-bottom: 120px;
}
#why-choose-easy-bank-container .heading {
    margin-bottom: 35px;
}
#why-choose-easy-bank-container .col-4-item {
    margin-top: 60px;
}


/* ---- latest articles ---- */
#latest-articles-container {
    background-color: var(--very-light-gray);
    padding-bottom: 80px;
}
#latest-articles-container .col-4-heading-container {
    padding: 50px 0;
}
#latest-articles-container .col-4-row {
    /* grid-gap: 10px; */
}
#latest-articles-container .col-4-item {
    background-color: white;
    max-width: 280px;
}
.article-thumb-img {
    width: 280px;
}
.article-text {
    padding-left: 25px;
    padding-right: 10px;
    color: grey;
}
.author {
    font-size: .7em;
    color: lightgray;
}
.article-title {
    font-size: 1.1em;
    color: inherit;
    font-weight: 400;
}






@media(max-width: 1380px) {
    /* --- col-4 --- */
    .col-4-row {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        /* padding: 20px; */
    }
    .col-4-item {
        margin-right: 0;
    }
}


@media(max-width: 1220px) {
    /* --- banner --- */
    #banner-img {
        width: 600px;
        top: 100px;
    }
}

@media(max-width: 1020px) {
    /* --- banner --- */
    #banner-img {
        width: 500px;
    }
}

@media(max-width: 910px) {
    /* --- header --- */
    header {
        flex-direction: column;
        padding: 22px var(--padding-space-mobile);
    }
    .mobile-controls-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    /* -- mobile dropdown -- */
    #dropdown-menu-container {
        display: none;
        border-radius: 20px;
    }
    .dropdown-menu-opened #dropdown-menu-container {
        display: block;
        position: absolute;
        top: 50px;
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    #flex-nav-links-container {
        flex-direction: column;
        background-color: lightgray;
        border-radius: 8px;
    }
    .header-nav-link {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .header-nav-link:first-child {
        margin-top: 25px;
    }
    #header-request-invite-button {
        display: none;
    }
    .dropdown-menu-closed #close-menu-button {
        display: none;
    }
    .dropdown-menu-opened #open-menu-button {
        display: none;
    }
    /* --- banner --- */
    #banner-container {
        padding-bottom: 50px;
        padding-top: 300px;
        height: initial;
        background-image: url("images/image-mockups.png");
        background-size: 300px;
        background-position: center -100px;
        background-repeat: no-repeat;
    }
    #banner-img {
        display: none;
        width: initial;
        height: 40vh;
        right: 0;
        top: -43px;
    }
    #banner-left-col {
        align-items: center;
        max-width: none;
        margin-left: 0;
        padding: 0 var(--padding-space-mobile);
    }
    .banner-left-col-item {
        text-align: center;
    } 
    
}

@media(min-width: 910px) {
/* ---- mobile dropdown ---- */
    .mobile-button {
        display: none;
    }
}

@media(max-width: 830px) {
    /* --- col 4 --- */
    .col-4-container {
        padding: 0 var(--padding-space-mobile);
    }
    .col-4-row {
        padding: 0;
    }
}

@media(max-width: 660px) {
    #latest-articles-container .col-4-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #latest-articles-container .heading {
        text-align: center;
    }
}

@media(max-width: 600px) {
    .col-4-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 460px) {
      .col-4-item {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      #why-choose-easy-bank-container .col-4-item p {
          text-align: center;
      }
      .col-4-heading-container * {
          text-align: center;
      }
      /* --- latest articles --- */
      #latest-articles-container .col-4-item {
          align-items: start;
      }
}