body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
ul, li, p {
    padding: 0;
    margin: 0;
    list-style-type: none;
}



/* ---- global ---- */
:root {
    --padding-space: 10%;
    --padding-space-mobile: 5%;
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-grey: hsl(0, 0%, 98%);
    --grayish-blue: hsl(233, 8%, 62%);
}
.img-button {
    background: none;
    border: none;
}
button:hover {
    cursor: pointer;
}
.heading {
    font-weight: 400;
    margin: 0;
}
.heading-large {
    font-size: 3em;
}



/* ---- header ---- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px var(--padding-space);
    position: relative;
    z-index: 100;
    background-color: white;
}
#flex-nav-links-container {
    display: flex;
    align-items: center;
}
.header-nav-link {
    margin-right: 25px;
    color: grey;
}
.header-nav-link:last-child {
    margin-right: 0;
}



/* ---- banner ---- */
.banner-container {
    background-color: var(--very-light-grey);
    height: 80vh;
    background-image: url('images/bg-intro-desktop.svg');
    background-position: 110% 100%;
    background-repeat: no-repeat;
    background-size: 800px 800px;
}
.banner-left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    max-width: 450px;
    margin-left: 160px;
}
.banner-left-col-item {
    margin-bottom: 25px;
}
.banner-left-col-item:last-child {
    margin-bottom: 0;
}
#banner-img {
    position: absolute;
    top: -34px;
    right: -116px;
    z-index: 0;
    width: 699px;
}







@media(max-width: 1510px) {
    .banner-left-col {
        /* width: 30%; */
    }
}


@media(max-width: 910px) {
    /* --- header --- */
    header {
        flex-direction: column;
        padding: 22px var(--padding-space-mobile);
    }
    .mobile-controls-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    /* -- mobile dropdown -- */
    #dropdown-menu-container {
        display: none;
        border-radius: 20px;
    }
    .dropdown-menu-opened #dropdown-menu-container {
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
    #flex-nav-links-container {
        flex-direction: column;
        background-color: lightgray;
        border-radius: 8px;
    }
    .header-nav-link {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .header-nav-link:first-child {
        margin-top: 25px;
    }
    #header-request-invite-button {
        display: none;
    }
    .dropdown-menu-closed #close-menu-button {
        display: none;
    }
    .dropdown-menu-opened #open-menu-button {
        display: none;
    }
    
}


@media(min-width: 910px) {
/* ---- mobile dropdown ---- */
    .mobile-button {
        display: none;
    }
}


@media(max-width: 500px) {

}